@import "config";

body{
    background-color: $primary-color;
    background:
        linear-gradient(
            to left,
            rgba($primary-color, 0.8),
            rgba($primary-color, 0.5)
        ),
        url("https://i.natgeofe.com/n/54c25bb2-973e-48ee-9858-ebda53d8f932/cafe-berlin-germany_3x4.jpg") center;
    background-size: cover;
    color: set-text-color($secondary-color);
    display: flex;
    justify-content: center;

    display: grid;
    grid-template-areas: 
    "survey"
    "footer";
}

#survey{

    background-color: rgba($secondary-color, 0.8);
    font-family: 'noto Sans';
    grid-area: survey;

    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "form";

    margin: 5vw;
    padding: 3vw;
    
    
    header{
        margin: 2vw;
        grid-area:header;
        text-align: center;
        line-height: 2;
        

        h1{
            font-size: 4vw;
        }
        p{
            font-size: 3vw;
        }
    }

    #survey-form{
        grid-area: form;
        font-size: 3vw;
        display: flex;
        flex-direction: column;
        border-top: 1px solid set-text-color($secondary-color);

        .group{
            margin-top: 2vw;
            margin-bottom: 5vw;         
            font-size: 3vw;
            text-justify: justify;
            line-height: 1.5;
        }
        

        input{
            box-sizing: border-box;
            font-size: 3vw;
            padding: 1vw;
            margin-top: 1vw;
            width: 100%;

            &::placeholder{
                color:set-text-color($primary-color);
                opacity: 0.5;
                font-family: 'noto Sans';
            }
        }

        .select{
            #dropdown{
                width: 100%;
                padding: 1vw;
                color:rgba(set-text-color($primary-color), 0.5);               
                font-size: 3vw;
                font-family: 'noto Sans';
                margin-top: 1vw;                
            }
        }

        .checkbox{

            input[type='checkbox'] {
                width: 2vw;
                height: 2vw;
                //padding: 3vw;
              }

            input[type='checkbox'] + label {
                display: inline-block;
                width: 3vw;
                //padding: 3vw;
              }            
        }

        .radio{
            input[type='radio'] {
                width: 2vw;
                height: 2vw;
                //padding: 1vw;
              }

            input[type='radio'] + label {
                display: inline-block;
                width: 3vw;
                //height: 3vw;
                //padding: 1vw;
              }            
        }
        

        #suggestions{
            width: 100%;
            height: 10vh;
            margin-top: 1vw;

            &::placeholder{
                color:set-text-color($primary-color);
                opacity: 0.5;
                padding: 1vw;
                font-size: 2vw;
                font-family: 'noto Sans';
            }
        }

        #submit{
            color: $secondary-color;
            font-size: 2vw;
            font-family: 'noto Sans';
        }

    }
}

footer{
    margin-top: 2vw;
    grid-area: footer;
    justify-self: end;
    padding-right: 0.5vw;
    padding-bottom: 0vw;
    font-size: 2vw;
    font-family: 'noto Sans';

    a{
        font-size: 1.5vw;
        text-decoration: none;
        color: darken($secondary-color, 30%);
        &:hover{
            text-decoration: underline;
        }
    }
}

@media screen and (max-width:480px){
    
    #survey{

        margin: 5vw;
        padding: 3vw;
        
        
        header{
            margin: 1vw;
            line-height: 1.5;

            h1{
                font-size: 7vw;
                margin-bottom: 7vw;
            }
            p{
                font-size: 6vw;
            }
        }
    
        #survey-form{
            
            font-size: 6vw;
            border-top: 1px solid set-text-color($secondary-color);
    
            .group{
                margin-top: 2vw;
                margin-bottom: 10vw;         
                font-size: 6vw;
            }
            
    
            input{
                font-size: 6vw;
                padding: 1vw;
                width: 100%;
            }
    
            .select{
                #dropdown{
                    width: 100%;
                    padding: 1vw;
                    font-size: 6vw;
                }
            }
    
            .checkbox{
                input[type='checkbox'] {
                    width: 3vw;
                    height: 3vw;
                   // padding: 3vw;
                  }
    
                input[type='checkbox'] + label {
                    display: inline-block;
                    width: 3vw;
                    //padding: 3vw;
                  }            
            }
    
            .radio{
                input[type='radio'] {
                    width: 3vw;
                    height: 3vw;
                   // padding: 1vw;
                  }
    
                input[type='radio'] + label {
                    display: inline-block;
                    width: 3vw;
                //    padding: 1vw;
                  }            
            }
            
    
            #suggestions{
                width: 100%;
                height: 10vh;
    
                &::placeholder{
                    padding: 2vw;
                    font-size: 6vw;
                }
            }
    
            #submit{
                font-size: 6vw;
            }    
        }
    }  

    footer{
        a{
            font-size: 3.5vw;
        }
    }
}

@media screen and (min-width:960px){
    
    #survey{

        width: 870px;
        
        
        header{
            margin: 1vw;

            h1{
                font-size: 37px;
            }
            p{
                font-size: 32px;
            }
        }
    
        #survey-form{
            
            font-size: 28px;
            border-top: 1px solid set-text-color($secondary-color);
    
            .group{
                margin-top: 2vw;
                margin-bottom: 2vw;         
                font-size: 28px;
            }
            
    
            input{
                font-size: 28px;
                //padding: 1vw;
                width: 100%;
                justify-self: center;
            }
    
            .select{
                #dropdown{
                    width: 100%;
                    padding: 1vw;
                    font-size: 28px;
                }
            }
    
            .checkbox{
                input[type='checkbox'] {
                    width: 28px;
                    height: 28px;
                    padding: 1vw;
                  }
    
                input[type='checkbox'] + label {
                    display: inline-block;
                    width: 3vw;
                    padding: 3vw;
                    font-size: 28px;
                  }            
            }
    
            .radio{
                input[type='radio'] {
                    width: 28px;
                    height: 28px;
                    padding: 1vw;
                  }
    
                input[type='radio'] + label {
                    display: inline-block;
                    width: 3vw;
                    padding: 1vw;
                    font-size: 28px;
                  }            
            }
            
    
            #suggestions{
                width: 100%;
                height: 300px;
    
                &::placeholder{
                    padding: 2vw;
                    font-size: 28px;
                }
            }
    
            #submit{
                font-size: 28px;
            }    
        }
    }  

    footer{
        a{
            font-size: 20px;
        }
    }
}